body {
	background-color: skyblue;
}

header{
	text-align:center;
}

h1{
	color: white
}

.tweet-content{
	border-style: solid;
	text-align: center;
	font-size:15px;
	padding: 20px;
	margin: 20px;
	background-color: white;
}
.name {
	font-size: 20px;
	font-weight: bold;
	padding-bottom:4px;
}

.time-created {
	font-size: 12px;
	font-style: italic;
	padding-top:2px;
}

.highlighted {
	background-color: skyblue;
}
